*AppleDouble*
**swo 
**swp
*.o
**dSYM
**log
**key
**gz
**tar
**afp
**.bak
todo.txt
Makefile
autom4te.cache
config.status
src/.deps/*
include/config.h
libtool
test/*
makefile.dist
include/config.h.in~
include/stamp-h1
files
_Old
TODO.txt
include/config.in~
src/.dirstamp
src/dbfs
makefile.test
dbfs.config
